.container {
    display: flex;
    margin-left: 94px;
    margin-top: 68px;
    min-width: 985px;
}

.itemContainer {
    margin: 20px 44px;
    display: flex;
}

.search {
    width: 125px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #008c8c;
    border-radius: 0px 40px 40px 0px;
}

